.section-0 {
    width: 1424px;
    height: 100px;
    background-image: url(../img/section-0box.png);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.section-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    text-align: center;
}

h2 a {
    text-decoration: none;
    color: red;
    word-spacing: 10px;
}

